<h1>Show</h1>

<%= link_to "All the Leprechauns", leprechauns_path %>
<%= link_to "Edit this Leprechaun", edit_leprechaun_path(@leprechaun) %>

<%= button_to "Take this Leprechaun to the Farm Upstate", leprechaun_path(@leprechaun), method: :delete %>

<p>
  Name: <%= @leprechaun.name %>
</p>

<p>
  Gold: <%= @leprechaun.gold_count %>
</p>

<p>
  height: <%= @leprechaun.height %>
</p>


<h2>Log a Quest</h2>

<%= form_for @quest do |f| %>

  <%= f.hidden_field :leprechaun_id, value: @leprechaun.id %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :unicorn_id %>
  <%= f.collection_select(:unicorn_id, @unicorns, :id, :name) %>
  <%= f.submit %>
<% end %>








<h2>All the Quests</h2>

<ul>
  <% @leprechaun.quests.each do |quest| %>
    <li>
      <%= quest.name %> - <%= link_to "#{quest.unicorn.name} is the Unicorn", unicorn_path(quest.unicorn) %>
    </li>
  <% end %>
</ul>
















<!--  -->
