<%= form_with(model: full_stack_developer, local: true) do |form| %>
  <% if full_stack_developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(full_stack_developer.errors.count, "error") %> prohibited this full_stack_developer from being saved:</h2>

      <ul>
      <% full_stack_developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :number_of_languages_learned %>
    <%= form.number_field :number_of_languages_learned %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
