<p id="notice"><%= notice %></p>

<h1>Full Stack Developers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Number of languages learned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @full_stack_developers.each do |full_stack_developer| %>
      <tr>
        <td><%= full_stack_developer.name %></td>
        <td><%= full_stack_developer.email %></td>
        <td><%= full_stack_developer.number_of_languages_learned %></td>
        <td><%= link_to 'Show', full_stack_developer %></td>
        <td><%= link_to 'Edit', edit_full_stack_developer_path(full_stack_developer) %></td>
        <td><%= link_to 'Destroy', full_stack_developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Full Stack Developer', new_full_stack_developer_path %>
