<!DOCTYPE html>
<html>
  <head>
    <title>Favorite colors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <% if @logged_in %>

        <h2>Votes remaining: <%= @current_user.remaining_votes() %></h2>
        <p> Logged in As: <%= @current_user.username %> </p>
        <%= button_to "Logout", "/logout", method: :delete %>

      <% else %>

        <%= link_to "Login", new_login_path %>
        <%= link_to "Register", new_user_path %>

      <% end %>

      <% if flash[:message] %>
        <p class="message">
          <%= flash[:message] %>
        </p>
      <% end %>

    </header>
    <%= yield %>
  </body>
</html>
