<a href="/students">
  See All Students
</a>

<h1>This is the show page.</h1>
<h2> <%= @student.name %> </h2>
<h3> <%= @student.age %> </h3>
<p>
  Hometown: <%= @student.hometown %>
</p>

<%= @variable2 %>

<p>
  Edit:
  <a href="/students/<%= @student.id %>/edit">
    <%= @student.name %>
  </a>
</p>

<form action="/students/<%= @student.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE ME">
</form>


<h2>Horses in your stable</h2>
<ul>

  <% @student.horses.each do |horse| %>
    <li>
      <a href="/horses/<%= horse.id %>">
        <%= horse.name %> - Breed: <%= horse.breed %>
      </a>
    </li>
  <% end %>

</ul>










<!--  -->
