<h1>Show</h1>

<%= link_to "All the Unicorns in the Kingdom", unicorns_path %>
<%= link_to "Edit this Unicorn", edit_unicorn_path(@unicorn) %>

<%= button_to "Take this Unicorn to the Farm Upstate", unicorn_path(@unicorn), method: :delete %>

<p>
  Name: <%= @unicorn.name %>
</p>

<p>
  Horn Size: <%= @unicorn.horn %>
</p>

<p>
  Shoe Size: <%= @unicorn.shoe %>
</p>
